@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
.home {
    height: 100vh;
}
.ant-btn-lg {
    height: 47px !important;
}
.search {
    padding-top: 5%;
}
.home div:first-child {
    padding: 0 6%;
}
.home div:last-child {
    padding: 0 5%;
}
.title {
    font-family: "Montserrat", sans-serif;
    font-size: 3em !important;
    font-weight: 900 !important;
    color: #0000008a;
}
.title-small {
    font-family: "Montserrat", sans-serif;
    font-weight: 700 !important;
}
.otpbox {
    padding: 30px 0;
    color: #000000;
}
.d-none {
    display: none;
}
.background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
}
@keyframes shake1 {
    from {
        top: 63vh;
        left: 22vw;
    }
    to {
        top: 68vh;
        left: 25vw;
    }
}
@keyframes shake3 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(280deg);
    }
}
.img1 {
    position: relative;
    animation: shake1 2.5s ease-in-out infinite alternate-reverse;
}
@keyframes shake2 {
    from {
        top: 20vh;
        left: 49vw;
    }
    to {
        top: 13vh;
        left: 55vw;
    }
}
.img2 {
    position: relative;
    animation: shake2 3.5s ease-in-out infinite alternate-reverse;
}
.img3 {
    position: relative;
    top: 55vh;
    left: 37vw;
    animation: shake3 5.5s ease-in-out infinite alternate-reverse;
}
.img4 {
    position: relative;
    animation: shake4 9s ease-in-out infinite alternate-reverse;
}
.img5 {
    position: relative;
    animation: shake5 3s ease-in-out infinite alternate-reverse;
}
@keyframes shake5 {
    from {
        top: 65vh;
        left: 37vw;
        transform: scale(0.5);
    }
    to {
        top: 69vh;
        transform: scale(0.8);
        left: 43vw;
    }
}
@keyframes shake4 {
    from {
        top: 10vh;
        left: -25vw;
        transform: rotate(-180deg);
    }
    to {
        top: 19vh;
        left: -5vw;
        transform: rotate(180deg);
    }
}
@media only screen and (max-width: 576px) {
    .home {
        height: 40vh;
    }
    .home div:last-child {
        position: fixed;
        top: 60%;
    }
    .mobile-res {
        width: 308px;
    }
}

ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
    box-shadow: none !important;
}
